<div class="wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="jobs">
        <h3>Jobs</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="applied">
        <h3>Applied</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="response">
        <h3>Response</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="interview">
        <h3>Interview</h3>
      </div>
    </div>
  </div>
</div>
