<% @new_jobs.each do |job| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span><%= job.title %><span class="pull-right">Added <%= time_ago_in_words(job.created_at) %></span></span>
    </div>
    <div class="panel-body">
      <h5 class="company"><%= job.company %></h5>
      <p><%= job.location %></p>
      <button type="button" class="btn btn-sm btn-success finish">Application Sent</button>
      <!-- Single button -->
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-trash-o"></i></a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#"><i class="fa fa-trash-o"></i>Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
