/*************************
		Variables
*************************/

/*************************
		Colors
*************************/

$primary-gray: #434A54;
$sunflower: #F6BB42;

/*************************
		Fonts
*************************/

$main-font: 'Work Sans', sans-serif;
