/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootflat
 *= require_self
 *= require jquery-ui
*/

@import "font-awesome-sprockets";
@import "font-awesome";
@import "_vars";

/*************************
		Navbar
*************************/
nav {
  border-radius: 0 !important;
  background-color: $primary-gray !important;
  margin: 0 !important;
}

.navbar-default, .navbar-collapse {
  border: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $sunflower;
}

nav li a, .navbar-text {
  font-family: $main-font;
  font-weight: 200;
  letter-spacing: 1px;
  color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-link, .navbar-default .btn-link, .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a, .navbar-text {
  color: white;
}

.navbar-brand {
  font-weight: 400;
  letter-spacing: 2px;
  font-family: $logo-font;
}

#logout {
  border: 1px solid white;
  padding: 1px 8px;
  border-radius: 6px;
  margin-top: 13px;
  &:hover {
    transition: background-color 0.5s ease;
    background-color: white;
    color: $primary-gray;
    border-color: $primary-gray;
  }
}

/*************************
		Navbar - ICONS
*************************/
#logo_icon {
  margin-right: 8px;
}

.icon {
  margin-right: 6px;
}
